.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: no-wrap;
    align-items: flex-start;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.caja-1{
    flex: 900px 1 1;
    font-size: 85px;
    color: white;
    background-color: blue;
}
.caja-2{
    font-size: 85px;
    color: white;
    background-color: red;
}
.caja-3{
    font-size: 85px;
    color: white;
    background-color: orange;
}
.caja-4{
    flex-basis: 250px;
    font-size: 85px;
    color: white;
    background-color: violet;
}
.caja-5{
    flex-basis: 250px;
    font-size: 85px;
    color: white;
    background-color: darkcyan;
}
.caja-6{
    flex-basis: 250px;
    font-size: 85px;
    color: white;
    background-color: forestgreen;
}